# Kafka
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# Spark workers
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=1g

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_AUTH_ANONYMOUS_ENABLED=true

# Elasticsearch JVM heap
ES_JAVA_OPTS=-Xms512m -Xmx512m
